@font-face {
    font-family: Kuunari;
    src: url(../fonts/kuunari-bold.woff2);
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: Impact;
    src: url(../fonts/impact-subset2.woff2);
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: Kuunari;
    src: url(../fonts/Mika-Melvas-Kuunari-Medium.woff2);
    font-weight: 500;
    font-display: swap;
}


@font-face {
    font-family: Involve;
    src: url(../fonts/Involve-Bold-subset-AaNumPunct.woff2);
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: Involve;
    src: url(../fonts/Involve-Medium-subset-AaNumPunct.woff2);
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: Involve;
    src: url(../fonts/Involve-Regular-subset-AaNumPunct.woff2);
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "RF Dewi Condensed";
    src: url(../fonts/RFDewiCondensed-Bold.woff2);
    font-weight: 700;
    font-display: swap;
}

button {
    cursor: pointer;
}

.title {
    font: 400 32px/130% Impact, sans-serif;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 43px;
    padding-top: 45px;
    color: white;
}

.titles {
    font: 400 32px/130% Impact, sans-serif;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 43px;
    padding-top: 45px;
    color: white;
}

.all__results__box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.teacher__container {
    max-width: 438px;
}

.teacher__short_info_text {
    font: 500 24px/26px Kuunari, sans-serif;
    text-transform: uppercase;
    margin-bottom: 8px;
}

.teacher__short_info_text span {
    color: #2f72f5;
}

.teacher__center {
    z-index: 30;
    position: relative;
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 30px;
    padding-top: 30px;
}

.teacher__center__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.teacher__center__item {
    background-color: white;
    padding: 10px 42px 15px 11px;
    border-radius: 10px;
    max-width: 262px;
    width: 100%;
}

.teacher__center__title {
    font-family: Involve, sans-serif;
    white-space: nowrap;
    margin-bottom: 2px;
    font-weight: 600;
    font-size: 22px;
    line-height: 100%;
    text-transform: uppercase;
}

.teacher__center__text {
    font-family: Involve, sans-serif;
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
}

.teacher__center__img {
    max-width: 172px;
    width: 100%;
}

.gradients__box {
    max-width: 400px;
    width: 100%;
    position: absolute;
    margin-top: 120px;
}

.gradients {
    background-color: #8949FF;
    filter: blur(56px);
    width: 446px;
    height: 184px;
    position: absolute;
    z-index: 0;
    top: 100px;
}

.course__col {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 15px;
}

.course__col__card {
    background-color: #fff;
    border: 1px solid #2f72f5;
    box-shadow: 0px 4px 25px 0px #2f72f540;
    border-radius: 10px;
    padding: 13px;
}

.course__col__card__img {
    object-fit: contain;
    height: auto;
    width: 100%;
    display: block;
    margin-bottom: 10px;
    border-radius: 10px;
}

.course__col__card__title {
    font-family: Involve, sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.course__col__card__list {
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding-left: 20px;
}

.course__col__card__list__item {
    font-family: Involve, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    list-style: none;
}

.course__col__card__list__item::marker {
    color: #8949FF;
}

.course__col__card__list__item::before {
    content: "";
    position: absolute;
    width: 7px;
    height: 7px;
    background-color: #8949FF;
    border-radius: 100%;
    margin-left: -15px;
    margin-top: 5px;
}

.course__col__card__list__item>span {
    font-weight: 600;
}


.swiper-button {
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #8949FF;
    border-radius: 50%;
}

.swiper_buttons {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: row;
    gap: 8px;
    margin-bottom: -20px;
}


.see_all {
    position: relative;
}

.see_all__text {
    font-family: sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    text-align: center;
    margin-bottom: 5px;
    font-style: italic;
}

.see_all__btn {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #2f72f5;
    border: none;
    margin-bottom: 71px;
    transition: all .3s;
}

.see_all__btn-active {
    transform: rotate(180deg);
}

.see_all__gradient-blur {
    width: 473px;
    height: 67px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 8.96%, #4483ff 63.31%);
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    filter: blur(50px);
    z-index: -1;
}

.see_all_box {
    overflow: hidden;
    max-height: 0px;
    transition: all 0.3s;
}

.see_all_box-active {
    max-height: 572px;
    margin-bottom: 15px;
    margin-top: 15px;
}

/* modal */
.homeModal,
.homeModalOverlay {
    position: fixed;
    bottom: 0;
    height: 100vh;
    width: 100%;
    left: 0;
}

.registerBtns {
    cursor: pointer;
}

.homeModal {
    z-index: 100;
    justify-content: center;
    align-items: center;
    display: flex;
}

.homeModalOverlay {
    background-color: rgba(255, 255, 255, 0);
    backdrop-filter: blur(10px);
}

.homeFormContainer {
    position: relative;
    z-index: 50;
    background-color: #fff;
    color: #000;
    border-radius: 30px;
    padding: 40px 45px;
    width: 100%;
    max-width: 520px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    margin: 0 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.homeFormTop {
    display: flex;
    justify-content: space-between;
}

.homeFormTopTitle {
    font-size: 22px;
    margin: 0 0 20px;
    color: #000;
    font-weight: 700;
    font-family: sans-serif;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.closeButton {
    background: 0 0;
    border: none;
    cursor: pointer;
    padding: 4px;
    justify-content: center;
    align-items: center;
    display: flex;
    position: absolute;
    top: 20px;
    right: 20px;
    color: #000;
}

.homeFormErrorText {
    color: #e53e3e;
    margin-bottom: 12px;
    font-size: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
    padding-top: 5px;
    padding-bottom: 5px;
}

.HomeFormRowInput,
.HomeFormRowLabel {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
    font-size: 18px;
    border-left: none;
}

.HomeFormRow {
    margin-bottom: 20px;
}

.HomeFormRowLabel {
    display: block;
    margin-bottom: 6px;
    color: #000;
}

.HomeFormRowInput {
    width: 100%;
    padding: 10px 13px;
    border: 1.5px solid #828282;
    min-height: 48px;
    background-color: white;
    border-radius: 6px;
    font-weight: 400;
    outline: 0;
    height: 50px;
    transition: border-color 0.2s;
    padding-left: 75px;
}

.HomeFormRowInput::placeholder {
    color: #aaa;
}

.phone-input-container {
    display: flex;
    align-items: center;
    gap: 0;
    position: relative;
    gap: 10px;
}

.country-selector {
    position: relative;
    border-right: none;
    display: flex;
    margin-right: 0;
}

.selected-country {
    display: flex;
    align-items: center;
    padding: 0 10px;
    border: 1px solid #c9c9c9;
    position: absolute;
    bottom: -25px;
    background-color: #858585;
    border-radius: 6px;
    cursor: pointer;
    color: white;
    min-height: 50px;
}

.country-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 5px;
    width: 100%;
    border: 1px solid #c9c9c9;
    border-radius: 6px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    z-index: 41;
    max-height: 160px;
    overflow-y: auto;
    font-family: sans-serif;
}

.country-code {
    margin-left: auto;
    margin-right: 10px;
}

.country-option {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
}

.country-option:hover {
    background-color: #f3f7f8;
}

.country-option.selected {
    background-color: #e6f0fa;
}

#selectedCountryCode {
    font-family: sans-serif;
    margin-right: 10px;
}


.results__row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 35px;
    max-width: 308px;
    width: 100%;
}


.results__col {
    background-image: url(../images/sertificates/1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 308px;
    width: 100%;
    aspect-ratio: 308 / 462;
    display: flex;
    cursor: pointer;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}


.results__col:nth-child(2) {
    background-image: url(../images/sertificates/2.png);
    background-repeat: no-repeat;
}

.results__col:nth-child(3) {
    background-image: url(../images/sertificates/3.png);
    background-repeat: no-repeat;
}

.results__col:nth-child(4) {
    background-image: url(../images/sertificates/4.png);
    background-repeat: no-repeat;
}

.results__images {
    cursor: pointer;
    z-index: 5;
    position: relative;
}

.coments__infos {
    background-color: white;
    border-radius: 50px;
    padding: 6px;
    max-width: 230px;
    width: 100%;
    height: 26px;
    margin: 0 auto;
    z-index: 12;
    position: absolute;
    bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Video uchun container */
.results__video {
    position: absolute;
    inset: 0;
    z-index: 10;
}

.results__video iframe {
    width: 100%;
    height: 100%;
    border: 0;
}

.coments__info__title {}

@media screen and (max-width: 768px) {
    .homeFormContainer {
        max-width: 100%;
        padding: 80px 20px 20px;
        margin: 0;
        border-radius: 6px;
        height: 100%;
    }

    .hero__right {
        position: relative;
    }

    .homeFormTopTitle {
        text-align: center;
        max-width: 368px;
        margin-left: auto;
        margin-right: auto;
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 15px;
    }

    .homeFormTop {
        flex-direction: column;
        align-items: flex-start;
    }

    .closeButton {
        width: 100%;
        height: 50px;
        background-color: #000;
        color: #fff;
        padding-right: 20px;
        top: 0;
        left: 0;
        justify-content: end;
    }

    .homeFormErrorText {
        font-size: 12px;
        margin-bottom: 8px;
    }

    .HomeFormRow {
        margin-bottom: 20px;
    }

    .HomeFormRowLabel {
        margin-bottom: 6px;
    }

    .HomeFormRowInput::placeholder {
        color: #a3a3a3;
    }
}

@media screen and (max-width: 480px) {
    .homeFormContainer {
        max-width: 100%;
        padding: 80px 20px 20px;
        margin: 0;
        border-radius: 6px;
        height: 100%;
    }

    .homeFormTopTitle {
        text-align: center;
        max-width: 335px;
        margin: 0 auto 15px;
    }

    .homeFormErrorText {
        font-size: 12px;
        margin-bottom: 8px;
    }

    .HomeFormRowLabel {
        margin-bottom: 6px;
    }

    .HomeFormRowInput {
        border-radius: 10px;
    }

    .HomeFormRowInput::placeholder {
        color: #a3a3a3;
    }

    .teacher__center {
        flex-wrap: wrap;
    }

    .teacher__center__img {
        max-width: 250px;
        width: 100%;
    }

    .title {
        font-size: 26px;
        margin-left: 20px;
    }

    .titles {
        font-size: 26px;
        margin-left: 20px;
    }
}

.mb-2 {
    margin-bottom: 20px;
}

.botom {
    padding-top: 12.5px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 40;
}

.bottom__container {
    background-color: black;
    border-top: 1px solid #8949FF;
    width: 100%;
    border-radius: 13px 13px 0 0;
    padding: 13px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.mb-none {
    margin-bottom: 0;
}

.bottom__text,
.bottom_timer {
    font-family: "RF Dewi Condensed", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    color: white;
}

.bottom_timer {
    font-size: 25px;
}

@media(max-width: 370px) {
    .bottom__text {
        font-size: 14px;
    }

    .bottom_timer {
        font-size: 22px;
    }

    .all__results__box {
        flex-direction: column;
        margin-bottom: 40px;
    }
}

@media(max-width: 335px) {
    .bottom__text {
        font-size: 12px;
    }

    .bottom_timer {
        font-size: 20px;
    }

    .course__col__card__title {
        font-size: 22px;
    }

    .course__col__card__list__item {
        font-size: 13px;
    }

    .titles {
        font-size: 28px;
    }

}

.coments__img {
    width: 100%;
    object-fit: contain;
}

.coments__info {
    background-color: white;
    border-radius: 50px;
    padding: 6px;
    max-width: 230px;
    width: 100%;
    height: 26px;
    margin: 0 auto;
    margin-top: -45px;
    z-index: 12;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.coments__info__title {
    font-family: Involve, sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    text-align: center;
}